@import url(./__container/header__container.css);
@import url(./__menu/header__menu.css);
@import url(./__title/header__title.css);
@import url(./__button/header__button.css);
@import url(./__link/header__link.css);
@import url(./__icon/header__icon.css);
@import url(./__link-container/header__link-container.css);
@import url(./__menu-button/header__menu-button.css);

.header {
  display: flex;
  position: absolute;
  width: 100%;
  border-bottom: .5px solid rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 620px) {
  .header {
    height: 56px;
  }
}