.header__container {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0 32px 0 0;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header__container {
    font-size: 16px;
    margin-right: 16px;
  }
}