.header__link-container {
  padding: 30px 0 26px 0;
  margin-right: 34px;
}

.header__link-container:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 820px) {
  .header__link-container {
    margin-right: 16px;
    padding: 22px 0 20px 0;
  }
}