.results__button {
  width: 288px;
  height: 64px;
  border-radius: 80px;
  background-color: white;
  display: block;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1A1B22;
  margin: 64px auto 0;
  cursor: pointer;
  border: none;
  outline: none;
}

.results__button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 1024px) {
  .results__button {
    width: 240px;
    height: 56px;
  }
}

@media screen and (max-width: 670px) {
  .results__button {
    width: 288px;
  }
}