.article__button_saved {
  background-image: url(../../../images/trash.png);
}

.article__button_saved:hover {
  background-image: url(../../../images/trash-black.png);
}

.article__button:hover::after {
  content: 'Убрать из сохранённых';
  font-size: 12px;
  line-height: 14px;
  width: 159px;
}