.footer__copywrite {
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  margin: 0;
}

@media screen and (max-width: 670px) {
  .footer__copywrite {
    order: 1;
    margin-top: 38px;
  }
}