@import url(./__copywrite/footer__copywrite.css);
@import url(./__icon/footer__icon.css);
@import url(./__link/footer__link.css);
@import url(./__links-container/footer__links-container.css);
@import url(./__text-links/footer__text-links.css);
@import url(./__social/footer__social.css);

.footer {
  display: flex;
  padding: 32px 7vw 26px 7vw;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 24px 40px 18px 40px;
  }
}

@media screen and (max-width: 670px) {
  .footer {
    flex-wrap: wrap;
    padding: 20px 16px 20px 16px;
  }
}