@import url('./_active/popup-entry__submit_active.css');

.popup-entry__submit {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  border: none;
  outline: none;
  background: #E6E8EB;
  border-radius: 100px;
  height: 64px;
  width: 360px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 620px) {
  .popup-entry__submit {
    width: 288px;
  }
}