.article__button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/flag.png);
  border: none;
  outline: none;
}

.article__button:hover {
  background-image: url(../../../images/flag-active.png);
}