.info__keywords {
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .info__keywords {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 670px) {
  .info__keywords {
    font-size: 18px;
  }
}