.about__image {
  width: 464px;
  height: 464px;
  background-image: url(../../../images/avatar.png);
}

@media screen and (max-width: 768px) {
  .about__image {
    width: 232px;
    height: 232px;
    background-size: cover;
  }
}

@media screen and (max-width: 670px) {
  .about__image {
    width: 272px;
    height: 272px;
    margin-bottom: 24px;
  }
}