.about__text {
  color: #1A1B22;
  margin: 51px 0 80px 56px;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .about__text {
    margin: 0;
    max-width: calc(100% - 264px);
  }
}

@media screen and (max-width: 670px) {
  .about__text {
    max-width: 100%;
  }
}