@import url(./__copywrite/footer__copywrite.css);
@import url(./__icon/footer__icon.css);
@import url(./__icons-container/footer__icons-container.css);
@import url(./__link/footer__link.css);
@import url(./__links-container/footer__links-container.css);

.footer {
  display: flex;
  margin: 0 104px 0 104px;
  justify-content: space-between;
}