@import url(./__alt/popup-entry__alt.css);
@import url(./__close/popup-entry__close.css);
@import url(./__error/popup-entry__error.css);
@import url(./__form/popup-entry__form.css);
@import url(./__input/popup-entry__input.css);
@import url(./__subtitle/popup-entry__subtitle.css);
@import url(./__switcher/popup-entry__switcher.css);
@import url(./__title/popup-entry__title.css);
@import url(./__container/popup-entry__container.css);
@import url(./__submit/popup-entry__submit.css);
@import url(./__field/popup-entry__field.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__additional-field/popup-entry__additional-field.css);

.popup-entry {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  justify-content: center;
  display: none;
}

@media screen and (max-width: 620px) {
  .popup-entry {
    top: 57px
  }
}